.jumbotron {
  background-color: skyblue;
  color: black;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: skyblue;
  margin-bottom: 0px;
  margin-top: 10px;
}
.tarjetas {
  flex: 1 250px;
  padding: 2px 5px 3px 5px;
  margin-top: 10px;
}
.btn-info{
  width: 100%;
}